<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>sandbox</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/styles/jquery-ui.css">

    <link rel="stylesheet" href="/static/styles/main.css">
    <link href="/static/styles/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">-->
    <style>

        body {
            font: 10px sans-serif;
        }
        .chart-title{
            font-size: 14px;
            font-family: Trebuchet;

        }
        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }

        .area.above {
            fill: #118bff;
        }

        .area.below {
            fill: red;
        }

        .line {
            fill: none;
            /*stroke: green;*/
            stroke-width: 1px;

        }

        rect.pane {
            cursor: move;
            fill: none;
            pointer-events: all;
        }

        .legend {
            font-size: 8px;
            text-anchor: middle;

        }

        #toolbar {
            margin-left: 20px;
            padding: 4px;
            display: inline-block;
        }

    </style>
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/static/js/jquery/dist/jquery.js"></script>
<script src="/static/js/d3/d3.min.js"></script>
<script src="/static/js/dc.js"></script>
<script src="/static/js/crossfilter.js"></script>
<script src="/static/js/jquery-ui.js"></script>

<!-- endbower -->
<!-- endbuild -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-left: 40px">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">From</span>
                                <input type="text" class="form-control" id="start_time">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">To</span>
                                <input type="text" class="form-control" id="end_time">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="left:50px; width:250px">
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row" style="margin-left: 40px">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#bw_report" role="tab" data-toggle="tab">Machine Avail Status</a></li>
                        <li><a href="#bw_policy" role="tab" data-toggle="tab">Policy & Activity</a></li>
                        <li><a href="#bw_activity" role="tab" data-toggle="tab">Connection Status</a></li>
                    </ul>
                    <div class="tab-content">


                        <div class="tab-pane active" id="bw_report">
                            <div class="row">
                                <div id="bw_ws_reported_chart">

                                </div>
                            </div>
                            <div class="row">
                                <div id="bw_server_reported_chart">

                                </div>
                            </div>
                            <div class="row">
                                <div id="bw_atm_reported_chart">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="bw_policy">
                            <div class="row">
                                <div id="bw_policy_chart">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="bw_activity">
                            <div class="row">
                                <div id="bw_ws_conn_chart">

                                </div>
                            </div>
                            <div class="row">
                                <div id="bw_server_conn_chart">

                                </div>
                            </div>
                            <div class="row">
                                <div id="bw_ws_office_conn_chart">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="geo_activity">
                            <div class="row">
                                <div id="bw_overall_report">

                                </div>
                                <div id="bw_overall_policy">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div id="bw_dashboard">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#overall_heatmap" role="tab" data-toggle="tab" >Overall Heat Map</a>
                    </li>

                    <li><a href="#overall_map" role="tab" data-toggle="tab" style="margin-left: 40px">Overall Map</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="overall_heatmap">

                        <div class="row">
                            <div id="slider-range-for-heat" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="left:50px; width:250px">
                            </div>
                            <div id="global_heat_map" style="margin-left: 40px">

                            </div>

                        </div>

                    </div>
                    <div class="tab-pane" id="overall_map">

                        <div class="row">
                            <label for="attime" style="border:0; margin-left: 40px;font-weight:bold;">Time Frame:</label>
                            <input type="text" id="attime" readonly style="border:0; font-weight:bold;">
                            <div id="timeslider" style="left:50px; width:250px">

                            </div>
                            <div id="toolbar" class="ui-widget-header ui-corner-all">
                                <button id="play">play</button>
                                <button id="stop">stop</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="bw_map_for_spread">

                            </div>
                        </div>

                        <!--<div class="col-md-7">-->
                            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="col-md-5">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="input-group input-group-sm">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="input-group-addon">From</span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<input type="text" class="form-control" id="start_time">&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="col-md-5">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="input-group input-group-sm">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="input-group-addon">To</span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<input type="text" class="form-control" id="end_time">&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="left:50px; width:250px">&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->

                                <!--&lt;!&ndash;<ul class="nav nav-tabs" role="tablist">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<li class="active"><a href="#bw_report" role="tab" data-toggle="tab">Machine Avail Status</a></li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<li><a href="#bw_policy" role="tab" data-toggle="tab">Policy & Activity</a></li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<li><a href="#bw_activity" role="tab" data-toggle="tab">Connection Status</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="tab-content">&ndash;&gt;-->


                                    <!--&lt;!&ndash;<div class="tab-pane active" id="bw_report">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div id="bw_ws_reported_chart">&ndash;&gt;-->

                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div id="bw_server_reported_chart">&ndash;&gt;-->

                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div id="bw_atm_reported_chart">&ndash;&gt;-->

                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="tab-pane" id="bw_policy">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div id="bw_policy_chart">&ndash;&gt;-->

                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="tab-pane" id="bw_activity">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div id="bw_ws_conn_chart">&ndash;&gt;-->

                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div id="bw_server_conn_chart">&ndash;&gt;-->

                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div id="bw_ws_office_conn_chart">&ndash;&gt;-->

                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="tab-pane" id="geo_activity">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div id="bw_overall_report">&ndash;&gt;-->

                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div id="bw_overall_policy">&ndash;&gt;-->

                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

<script src="/static/js/app.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
