<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>sandbox</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/styles/jquery-ui.css">

    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/dc.css">
    <link href="/static/styles/bootstrap.min.css" rel="stylesheet">

    <style>

        body {
            font: 10px sans-serif;
        }
        .chart-title{
            font-size: 14px;
            font-family: Trebuchet;

        }
        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }

        .area.above {
            fill: #118bff;
        }

        .area.below {
            fill: red;
        }

        .line {
            fill: none;
            /*stroke: green;*/
            stroke-width: 1px;

        }

        rect.pane {
            cursor: move;
            fill: none;
            pointer-events: all;
        }

        .legend {
            font-size: 8px;
            text-anchor: middle;

        }

    </style>
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/static/js/jquery/dist/jquery.js"></script>
<script src="/static/js/d3/d3.min.js"></script>
<script src="/static/js/dc.js"></script>
<script src="/static/js/crossfilter.js"></script>
<script src="/static/js/jquery-ui.js"></script>

<!-- endbower -->
<!-- endbuild -->

<div id="bw_dashboard">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#overall_map" role="tab" data-toggle="tab">Overall Map</a></li>
                    <li><a href="#overall_heatmap" role="tab" data-toggle="tab">Overall Heat Map</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="overall_map">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">At</span>
                                <input type="text" class="form-control" id="at_time">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="timeslider" style="left:50px; width:250px">

                </div>
            </div>
            <div class="row">
                <div id="bw_map_selector">

                </div>
            </div>
            <div class="row">
                <div id="bw_map_for_spread">

                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="row">
                    <div class="col-md-5">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">From</span>
                        <input type="text" class="form-control" id="start_time">
                    </div>
                    </div>
                    <div class="col-md-5">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">To</span>
                        <input type="text" class="form-control" id="end_time">
                    </div>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="left:50px; width:250px">
                    </div>
                    <br>
                </div>
            </div>
            <div class="row">


                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#bw_report" role="tab" data-toggle="tab">Machine Avail Status</a></li>
                    <li><a href="#bw_policy" role="tab" data-toggle="tab">Policy & Activity</a></li>
                    <li><a href="#bw_activity" role="tab" data-toggle="tab">Connection Status</a></li>
                    <li><a href="#geo_activity" role="tab" data-toggle="tab">Overall Region Status</a></li>
                </ul>
                <div class="tab-content">


                    <div class="tab-pane active" id="bw_report">
                        <div class="row">
                            <div id="bw_ws_reported_chart">

                            </div>
                        </div>
                        <div class="row">
                            <div id="bw_server_reported_chart">

                            </div>
                        </div>
                        <div class="row">
                            <div id="bw_atm_reported_chart">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="bw_policy">
                        <div class="row">
                            <div id="bw_policy_chart">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="bw_activity">
                        <div class="row">
                            <div id="bw_ws_teller_conn_chart">

                            </div>
                        </div>
                        <div class="row">
                            <div id="bw_ws_loan_conn_chart">

                            </div>
                        </div>
                        <div class="row">
                            <div id="bw_ws_office_conn_chart">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="geo_activity">
                        <div class="row">
                            <div id="bw_overall_report">

                            </div>
                            <div id="bw_overall_policy">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/static/js/app.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
